
.Card {
  border-radius: 12px;
  width: 100%;
}

.CardWrapper {
  background-image: url("../../../static/icons/tg_pattern_light.svg");
  width: inherit;
  height: inherit;
}

.Icon {
  width: 73px;
  height: 73px;
}

.IconSmall {
  width: 117px;
  height: 117px;
}