.PageDescription {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 24px 0 16px 0;
  text-align: center;
}

.Title {
  padding-top: 16px;
}

.Label {
  padding-top: 8px;
}

.PageDescriptionIcon {
  width: 48px;
  height: 48px;
}