$white: #FFFFFF;
$black: #000000;
$primary: #007AFF;
$bg_secondary_light: #EFEFF3;
$bg_secondary_dark: rgba(0, 0, 0, 0.5);
$accent_blue: #007AFF;
$accent_cyan: #5AC8FA;
$accent_gold: #F1AA05;
$accent_purple: #AF51DE;
$accent_green: #35C759;
$separator: rgba(60, 60, 67, 0.36);
$icons: #959595;
$label_secondary: #8E8E93;
$label_tab_bar: rgba(84, 84, 88, 0.65);
$label_date: #6D6D71;
$background_secondary: #2D2D2D;
$background_tab_bar: #F1F1F2;
$tab_menu_separator: rgba(60, 60, 67, 0.36);