
.Button {
  box-sizing: border-box;
  padding: 6px 16px 6px 12px;
  background-color: var(--bg-button-primary);
  color: var(--bg-button-primary-text);
  border-radius: 100px;
}

.ButtonWrapper {
  display: flex;
  align-items: center;
}